*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: auto;
    border: 1px solid green;
    width: 80%;
    text-align: center;
    padding: 1rem .5rem;
}
.border-bottom{
    width: 50px;
    height: 3px;
    background: green;
    margin: .4rem auto;
}
.category{
    display: flex;
    justify-content: space-evenly;
    padding: .9rem 0;
}
button{
    cursor: pointer;
}
.item{
    display: flex;
    flex-direction: column;
}