*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 3rem auto;
    text-align: center;
}
input{
    box-shadow: 2px 4px 6px lightsalmon;
    border: none;
    padding: .3rem;
    border-radius: 5px;
}
.header{
    margin: 1rem;
}
.list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 300px;
    margin: .7rem auto;
    padding: 1rem 1rem 1rem 1.7rem;
    background: lightsalmon;
    border-radius: 5px;
}
.list-icons{
    display: flex;
    justify-content: center;
    color: green;
    cursor: pointer;
}
.icon{
    margin: 0 .7rem;
    color: red;
}